.dashboard-home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* GRID */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* CARDS */
.stat-card {
  padding: 20px;
  border-radius: 12px;

  background: rgba(15,23,42,0.7);
  border: 1px solid rgba(255,255,255,0.05);

  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

/* DESTACADO */
.highlight {
  border: 1px solid rgba(124,77,255,0.5);
  box-shadow: 0 0 20px rgba(124,77,255,0.2);
}

/* TEXTO */
.stat-card h3 {
  color: #94a3b8;
  font-size: 14px;
}

.stat-card p {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

/* BOTONES */
.quick-actions {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.quick-actions button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;

  background: linear-gradient(135deg, #7c4dff, #00f0ff);
  color: white;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.quick-actions button:hover {
  transform: scale(1.05);
}