:root {
  --bg: #020617;
  --card: #0b1120;
  --card-light: #111827;

  --primary: #8b5cf6;   /* morado */
  --secondary: #06b6d4; /* cian */

  --text: #f1f5f9;
  --text-soft: #94a3b8;

  --border: rgba(255,255,255,0.08);
}